.calc {
    position: absolute;
    padding: 40px 50px;
    width: 477px;
    height: 660px;
    left: 0;
    bottom: 0;
    background: #FDFDFE;
    box-shadow: 0px 12px 88px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    &__heading-big {
        font-family: $headerFont;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 140%;
        color: #282828;
    }
    &__heading-span {
        font-family: $textFont;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 135%;
        color: #8A8A8A;
    }
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7px;
        margin: 32px 0;
    }
    &__item {
        padding: 12px 24px;
        background-color: #EFF0F4;
        border-radius: 20px;
    }
    &__heading-small {
        font-family: $headerFont;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #E68F43;
    }
    &__span {
        font-family: $textFont;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 125%;
        text-align: center;
        color: #8A8A8A;
    }
    &__span-big {
        font-family: $textFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        color: #8A8A8A;
    }
    &__submit {
        width: 100%;
        padding: 16px 0;
        margin-bottom: 24px;
        border: none;
        border-radius: 20px;
        background-color: #E68F43;
        font-family: $textFont;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 180%;
        color: #FFFFFF;
    }
    &__disclaimer {
        display: inline-block;
        width: 100%;
    }
}